a {
    border: 1px solid gray;
    border-bottom-width: 3px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 10px 30px;
    margin: 20px;
    text-decoration: none;
}

a:hover {
    border: 1px solid black;
    border-bottom-width: 3px;
    border-radius: 5px;
    background-color: purple;
    color: yellow;
}