body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    width: 300px;
    max-width: 90%;
    margin: 2px;
    padding: 5px;
}