body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

form {
    width: 500px;
    max-width: 100%;
}

small {
    color: tomato;
    visibility: hidden;
}

.mb-3.error small {
    visibility: visible;
}

.mb-3.error input {
    border-color: tomato !important;
}