body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    border: 5px groove rgb(180, 180, 180);
    width: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
}

form h1 {
    text-align: center;
    color: gray;
}

form .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

input {
    padding: 10px;
}